*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @include respond(phone) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }
}

body {
  background-color: $color-light-gray;

  &.dark {
    background-color: $color-very-dark-blue;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
