.header {
  width: 100%;
  background-image: url(/assets/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 2rem;

  &.dark {
    background-image: url(/assets/bg-desktop-dark.jpg);
  }

  &__content {
    width: 60rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;

    @include respond(tab-port) {
      // width < 768px
      width: 90vw;
    }

    h1 {
      font-size: 4.2rem;
      color: $color-white;
    }

    a {
      cursor: pointer;
    }
  }

  &__input {
    width: 60rem;
    margin: 0 auto;
    background-color: $color-white;
    padding: 1.2rem 3rem;
    border-radius: 6px;

    @include respond(tab-port) {
      width: 90vw;
    }

    &.dark {
      background-color: $color-very-dark-desaturated-blue;
    }

    &-todo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;

      input[type='checkbox'] {
        visibility: hidden;
      }

      label {
        background-color: #fff;
        border: 1px solid $color-light-grayish-blue;
        border-radius: 50%;
        cursor: pointer;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        left: -1rem;
        top: 0.6rem;

        &.dark {
          background-color: $color-very-dark-desaturated-blue;
          border: 1px solid $color-very-dark-grayish-blue;
        }
      }
    }

    .todo__checkbox {
      width: 2rem;
      height: 2rem;
      cursor: pointer;

      &.dark {
        background-color: $color-very-dark-desaturated-blue;
      }
    }

    .todo__textbox {
      font-family: $font-primary;
      font-weight: 400;
      font-size: 1.8rem;
      color: $color-very-dark-grayish-blue;
      border: none;
      width: 100%;
      padding: 1rem;
      margin-left: 1rem;

      &.dark {
        background-color: $color-very-dark-desaturated-blue;
        color: $color-light-grayish-blue-dark;

        &:focus {
          outline-width: 0;
          caret-color: $color-light-grayish-blue-dark;
        }
      }

      &::placeholder {
        color: $color-dark-grayish-blue;
      }

      &:focus {
        outline-width: 0;
        caret-color: $color-very-dark-grayish-blue;
      }
    }
  }
}
