.todos {
  width: 100%;
  padding: 0rem 2rem;
  margin-top: -5rem;

  & > :first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &__item {
    width: 60rem;
    margin: 0 auto;
    background-color: $color-white;
    padding: 1.2rem 3rem;
    border-bottom: 1px solid $color-light-grayish-blue;

    @include respond(tab-port) {
      // width < 768px
      width: 90vw;
    }

    &.dark {
      background-color: $color-very-dark-desaturated-blue;
      border-bottom: 1px solid $color-dark-grayish-blue-2;
    }

    &-form {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;

      p {
        font-size: 1.8rem;
        padding: 1rem 2rem;
        color: $color-very-dark-grayish-blue;
        cursor: pointer;

        &.dark {
          color: $color-light-grayish-blue-dark;
        }
      }

      label {
        background-color: #fff;
        border: 1px solid $color-light-grayish-blue;
        border-radius: 50%;
        cursor: pointer;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        left: -1rem;
        top: 0.6rem;

        &.dark {
          background-color: $color-very-dark-desaturated-blue;
          border: 1px solid $color-very-dark-grayish-blue;
        }
      }

      label:after {
        content: url(/assets/icon-check.svg);
        height: 6px;
        width: 12px;
        position: absolute;
        top: 7px;
        left: 6px;
        opacity: 0;
        @include respond(phone) {
          left: 4px;
          top: 5px;
        }
      }

      input[type='checkbox'] {
        visibility: hidden;
      }

      input[type='checkbox']:checked + label {
        background: $color-gradient;
      }

      input[type='checkbox']:checked + label::after {
        opacity: 1;
      }

      input[type='checkbox']:checked ~ p {
        color: $color-dark-grayish-blue;
        text-decoration: line-through;
        text-decoration-thickness: 2px;
        text-decoration-color: $color-dark-grayish-blue;
      }
    }

    &-checkbox {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }

    &-textbox {
      font-family: $font-primary;
      font-weight: 400;
      font-size: 1.8rem;
      color: $color-very-dark-grayish-blue;
      border: none;
      width: 100%;
      padding: 1rem;
      margin-left: 1rem;
      cursor: pointer;

      &::placeholder {
        color: $color-dark-grayish-blue;
      }
    }
  }
}
