@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: #fafafa;
}
body.dark {
  background-color: #161722;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.header {
  width: 100%;
  background-image: url(/assets/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 2rem;
}
.header.dark {
  background-image: url(/assets/bg-desktop-dark.jpg);
}
.header__content {
  width: 60rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 48em) {
  .header__content {
    width: 90vw;
  }
}
.header__content h1 {
  font-size: 4.2rem;
  color: #fff;
}
.header__content a {
  cursor: pointer;
}
.header__input {
  width: 60rem;
  margin: 0 auto;
  background-color: #fff;
  padding: 1.2rem 3rem;
  border-radius: 6px;
}
@media only screen and (max-width: 48em) {
  .header__input {
    width: 90vw;
  }
}
.header__input.dark {
  background-color: #25273c;
}
.header__input-todo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.header__input-todo input[type=checkbox] {
  visibility: hidden;
}
.header__input-todo label {
  background-color: #fff;
  border: 1px solid #d2d3db;
  border-radius: 50%;
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: -1rem;
  top: 0.6rem;
}
.header__input-todo label.dark {
  background-color: #25273c;
  border: 1px solid #484b6a;
}
.header__input .todo__checkbox {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.header__input .todo__checkbox.dark {
  background-color: #25273c;
}
.header__input .todo__textbox {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #484b6a;
  border: none;
  width: 100%;
  padding: 1rem;
  margin-left: 1rem;
}
.header__input .todo__textbox.dark {
  background-color: #25273c;
  color: #cacde8;
}
.header__input .todo__textbox.dark:focus {
  outline-width: 0;
  caret-color: #cacde8;
}
.header__input .todo__textbox::placeholder {
  color: #9394a5;
}
.header__input .todo__textbox:focus {
  outline-width: 0;
  caret-color: #484b6a;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.todos {
  width: 100%;
  padding: 0rem 2rem;
  margin-top: -5rem;
}
.todos > :first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.todos__item {
  width: 60rem;
  margin: 0 auto;
  background-color: #fff;
  padding: 1.2rem 3rem;
  border-bottom: 1px solid #d2d3db;
  cursor: pointer;
}
@media only screen and (max-width: 48em) {
  .todos__item {
    width: 90vw;
  }
}
.todos__item.dark {
  background-color: #25273c;
  border-bottom: 1px solid #777a92;
}
.todos__item-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.todos__item-form img {
  display: inline-block;
  margin-left: auto;
}
.todos__item-form p {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  color: #484b6a;
}
.todos__item-form p.dark {
  color: #cacde8;
}
.todos__item-form label {
  background-color: #fff;
  border: 1px solid #d2d3db;
  border-radius: 50%;
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: -1rem;
  top: 0.6rem;
}
.todos__item-form label.dark {
  background-color: #25273c;
  border: 1px solid #484b6a;
}
.todos__item-form label:after {
  content: url(/assets/icon-check.svg);
  height: 6px;
  width: 12px;
  position: absolute;
  top: 7px;
  left: 6px;
  opacity: 0;
}
@media only screen and (max-width: 37.5em) {
  .todos__item-form label:after {
    left: 4px;
    top: 5px;
  }
}
.todos__item-form input[type=checkbox] {
  visibility: hidden;
}
.todos__item-form input[type=checkbox]:checked + label {
  background: linear-gradient(to bottom right, #57ddff, #c058f3);
}
.todos__item-form input[type=checkbox]:checked + label::after {
  opacity: 1;
}
.todos__item-form input[type=checkbox]:checked ~ p {
  color: #9394a5;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: #9394a5;
}
.todos__item-checkbox {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.todos__item-textbox {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #484b6a;
  border: none;
  width: 100%;
  padding: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}
.todos__item-textbox::placeholder {
  color: #9394a5;
}

.todo-info {
  width: 100%;
  padding: 0 2rem;
}
.todo-info__items {
  margin: 0 auto;
  width: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem 2rem;
  font-size: 1.4rem;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
@media only screen and (max-width: 48em) {
  .todo-info__items {
    width: 90vw;
  }
}
@media only screen and (max-width: 37.5em) {
  .todo-info__items {
    width: 90vw;
  }
}
.todo-info__items.dark {
  background-color: #25273c;
}
.todo-info .items-left {
  color: #9394a5;
}
.todo-info .items-status {
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .todo-info .items-status {
    display: none;
  }
}
.todo-info .items-status :first-child {
  color: #3a7bfd;
}
.todo-info .items-status :first-child + p {
  color: #484b6a;
}
.todo-info .items-status :last-child {
  color: #9394a5;
}
.todo-info .items-status p {
  cursor: pointer;
  font-weight: 700;
}
.todo-info .items-status :not(:last-child) {
  margin-right: 2rem;
}
.todo-info .items-clear {
  cursor: pointer;
  color: #484b6a;
}

.hidden {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .hidden {
    margin: 0 auto;
    margin-top: 3rem;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 2rem 2rem;
    font-size: 1.4rem;
    border-radius: 6px;
    display: flex;
  }
  .hidden :first-child {
    color: #3a7bfd;
  }
  .hidden :first-child + p {
    color: #484b6a;
  }
  .hidden :last-child {
    color: #9394a5;
  }
  .hidden p {
    cursor: pointer;
    font-weight: 700;
  }
  .hidden :not(:last-child) {
    margin-right: 2rem;
  }
  .hidden.dark {
    background-color: #25273c;
  }
}

.drag-info {
  font-size: 1.6em;
  margin-top: 3em;
  text-align: center;
  color: #484b6a;
}
